__pycache__/
*.py[codz]
*.egg-info/

.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.nox/
htmlcov/

.env
.envrc
.venv/
env/
venv/

build/
dist/
site/

.DS_Store
.pypirc
tempCodeRunnerFile.py
